{% macro render_add_client_field(field) %}
    <div class="form-group">
        <label for="uname1">{{ field.label }}</label>
        <dd>{{ field(**kwargs)|safe }}</dd>
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>{{ error }}
        </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro order_detail_form(type) %}
<div class="form-group order-details">
    <label>Amount</label>
    <input class="form-control" id="amount-{{ type }}">
    <label>Price</label>
    <input class="form-control" id="price-{{ type }}">
</div>
{% endmacro %}
