<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Async Order</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>

  <body>
  <div class="container">
      <div class="row jumbotron">
        <div class="col">
            <div class="container">
            </div>
            <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active market" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Market</a>
                  <a class="list-group-item list-group-item-action stop" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Stop</a>
                  <a class="list-group-item list-group-item-action limit" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Limit</a>
                </div>
                <br>
                <div class="container">
                   <a class="btn btn-sm btn-warning" id="rm-all-orders" role="button">Remove all orders</a>
                </div>
                <hr>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list" order-type="Market">
                    {% from "_formhelpers.html" import market_order_detail_form %}
                    {{ market_order_detail_form('Market') }}
                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"  order-type="Stop">
                    {% from "_formhelpers.html" import order_detail_form %}
                    {{ order_detail_form('Stop') }}
                  </div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"  order-type="Limit">
                    {% from "_formhelpers.html" import order_detail_form %}
                    {{ order_detail_form('Limit') }}
                  </div>
                </div>
                <div id="error-msg">
                <!--Here will be error data which is getting from socket-->
                </div>
              </div>
            </div>
        </div>
        <div class="col">
            {% from "_formhelpers.html" import render_add_client_field %}
            <form class="add-client-form" method="post" role="form">
              <dl>
                  {% for field in form %}
                      {{ render_add_client_field(field) }}
                  {% endfor %}
              </dl>
              <button type="submit" class="add-client btn-sm btn-primary" data-dismiss="modal">Add Client</button>
            </form>
        </div>
        <div class="w-100"></div>
      </div>
  </div>

  <div class="table-responsive-sm">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">balance</th>

            <th scope="col">Limit order #1</th>
            <th scope="col">Limit order #2</th>
            <th scope="col">Limit order #3</th>

            <th scope="col">Stop order #1</th>
            <th scope="col">Stop order #2</th>
            <th scope="col">Stop order #3</th>
          </tr>
        </thead>
        <tbody class="client-table-body">
        <!--Here will be client data which is getting from socket-->
        </tbody>
    </table>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
{#    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('connect', function () {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('my response', function (msg) {
                //
            });
            socket.on('data error', function (msg) {
               var text = '<div class="alert alert-danger alert-dismissible fade show" role="alert">';
               text += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
               text += '<span aria-hidden="true">&times;</span>';
               text += '</button>';
               text += '<strong>'+msg['income']+'!</strong> '+msg['msg'];
               text += '</div>';
               $("#error-msg").html(text);
            });
            socket.on('reload-table', function (msg) {
                var data = msg['data'];
                var count = msg['count'];
                var balance = msg['balance'];
                var failed_data = msg['failed_data'];
                var clients_string = '';
                var tit = '';

                for (i = 0; i < count; i++) {
                    clients_string += '<tr>';
                    clients_string += '<th scope="row">' + i.toString() + '</th>';
                    clients_string += '<td>' + data[i]["balance"].toString() + '</td>';
                    for (j = 0; j<data[i]["limits"].length; j++){
                        tit = '';
                        if (data[i]["limits"][j]["side"]) {
                            tit += data[i]["limits"][j]["side"] + ' | ';
                        } else tit += '- | ';
                        if (data[i]["limits"][j]["price"]) {
                            tit += data[i]["limits"][j]["price"] + ' | ';
                        } else tit += '- | ';
                        if (data[i]["limits"][j]["amount"]) {
                            tit += data[i]["limits"][j]["amount"];
                        } else tit += '-';
                        clients_string += '<td>' + tit + '</td>';
                    }
                    for (j = 0; j<data[i]["stops"].length; j++){
                        tit = '';
                        if (data[i]["stops"][j]["side"]) {
                            tit += data[i]["stops"][j]["side"] + ' | ';
                        } else tit += '- | ';
                        if (data[i]["stops"][j]["price"]) {
                            tit += data[i]["stops"][j]["price"] + ' | ';
                        } else tit += '- | ';
                        if (data[i]["stops"][j]["amount"]) {
                            tit += data[i]["stops"][j]["amount"];
                        } else tit += '-';
                        clients_string += '<td>' + tit + '</td>';
                    }
                    clients_string += '</tr>';
                }
                clients_string += '<tr>';
                clients_string += '<th scope="row">:</th>';
                clients_string += '<th scope="row">' + balance.toString() + '</th>';
                clients_string += '</tr>';

                $(".client-table-body").html(clients_string);
                console.log(failed_data);

                if (failed_data['type'] == 'Active') {
                    failed_data['type'] = $(".tab-pane.fade.show.active").attr('order-type');
                }
                $('#amount-'+failed_data['type']).value = failed_data['amount'].toString();
                if (failed_data['type'] != 'Market') {
                    $('#price-' + failed_data['type']).value = failed_data['price'].toString();
                }
            });
            $('.add-client').click(function (e) {
                socket.emit('add-client', {form: $('.add-client-form').serialize()});
                return false;
            });
            $('.order').click(function (e) {
                e.preventDefault();
                var side = $(this).attr('side-data');
                var order_type = $(this).attr('order-type');
                var price = 0;
                if (order_type == 'Market') {
                    price = null;
                } else {
                    price = $('#price-'+order_type).val();
                }
                data = {
                    side: side,
                    type: order_type,
                    price: price,
                    amount: $('#amount-'+order_type).val(),
                };
                socket.emit('order', data);
                return false;
            });
            $('#rm-all-orders').click(function (e) {
                e.preventDefault();
                socket.emit('rm-all-orders');
                return false;
            });
            $('.reorder').click(function (e) {
                e.preventDefault();
                var side = $(this).attr('side-data');
                var order_type = $(this).attr('order-type');
                var price = 0;
                if (order_type == 'Market') {
                    price = null;
                } else {
                    price = $('#price-'+order_type).val();
                }
                data = {
                    side: side,
                    type: order_type,
                    price: price,
                    amount: $('#amount-'+order_type).val(),
                };
                socket.emit('reorder', data);
                return false;
            });

        });
    </script>
  </body>
</html>
